<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Licence Plate Search</title>
</head>
<body>
<h1>Licence Plate Search</h1>
<form th:action="@{/search}" method="get">
    <input type="text" name="q" placeholder="Enter a licence plate"/>
    <input type="submit" value="Search"/>
</form>
<p><a th:href="@{'/search?police=1'}">Police cars only</a></p>
<p><a th:href="@{'/search?diplomat=1'}">Diplomats only</a></p>
<table>
    <tr>
        <th>Licence plate</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    <!--
    <tr th:unless="${platelist.size()} == ${numOfCars}" th:each="plate: ${platelist}" th:object="${plate}">
    //-->
    <tr th:unless="${platelist.size()} == ${numOfCars}"th:each="plate: ${platelist}">
    <tr th:if="${platelist.size()} == ${numOfCars}" th:each="plate: ${allcars}">
        <td th:text="*{plate}"></td>
        <td><a th:href="@{'/search/{brand}' (brand=${plate.car_brand})}" th:text="*{car_brand}"></a></td>
        <td th:text="*{car_model}"></td>
        <td th:text="*{color}"></td>
        <td th:text="*{year}"></td>
    </tr>
</table>
</body>
</html>